.buttonContainer {
  display: flex;
  gap: 0.5rem;
}
.button {
  border-radius: 5px;
  border: none;
  font-size: var(--base-font-size);
  background-color: var(--button-color-primary);
  padding: 2px 10px;
}
.button:hover {
  cursor: pointer;
  transform: var(--base-scale);
  transition: var(--base-scale-transform);
}
