.Container {
  max-width: none;
  margin: auto;
  background-color: var(--secondary-color);
  min-width: var(--min-mobile-width);
  max-width: var(--max-mobile-width);
  font-family: var(--font-family-ru-secondary);
  font-size: var(--base-font-size);
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .Container {
    min-width: var(--min-table-width);
    max-width: var(--max-table-width);
  }
}

@media screen and (min-width: 1280px) {
  .Container {
    max-width: var(--desctop-width);
  }
}
