.slide_title {
  margin: 0 auto;
}
.slide {
  display: flex;
  justify-content: left;
  height: fit-content;
}

.slide_foto {
  position: relative;
  flex-grow: 1;
  background-image: url("../../../images/Home/test-intelligenza-sociale.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide_foto::before {
  content: "";
  background: url("../../../images/Home/anti-arrow-gray-right.png");
  background-size: contain;
  position: absolute;
  background-position: right top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: contrast(0%) brightness(200%);
}

.slide_text {
  flex-basis: 50%;
  height: 200px;
}
