.slideContainer {
  width: 100vw;
  position: relative;
}

.slide {
  position: absolute;
  transform: translateX(-300%);
  left: 0;
  display: none;
  justify-content: left;
  height: fit-content;
  width: 1280px;
}
.slide.entering {
  display: flex;
}

.slide.entered {
  display: flex;
  left: 50%;
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
  position: static;
}
.slide.exiting {
}
.slide.exited {
}

.slide_foto {
  position: relative;
  flex-grow: 1;
  background-image: url("../../../images/Home/test-intelligenza-sociale.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide_foto::before {
  content: "";
  background: url("../../../images/Home/anti-arrow-gray-right.png");
  background-size: contain;
  position: absolute;
  background-position: right top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: contrast(0%) brightness(200%);
}

.slide_text {
  flex-basis: 50%;
  height: 200px;
  width: 400px;
}
