:root {
  --primary-color: #3498db;
  --secondary-color: rgb(134, 111, 197);
  --primary-hover-color: rgb(251, 255, 0);
  --font-family: "Roboto", sans-serif;
  --font-family-ru: "Miama-Nueva", sans-serif;
  --base-font-size: 16px;
  --secondary-font-size: 14px;
  --min-mobile-width: 320px;
  --max-mobile-width: 767px;
  --min-table-width: 768px;
  --max-table-width: 1279px;
  --desctop-width: 1280px;
  --button-color-primary: rgb(255, 196, 2);
  --base-scale: scale(1.05);
  --base-scale-transform: transform 200ms ease-in-out;
}
