:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  /* --font-family: "Arial", sans-serif; */
  --base-font-size: 20px;
  --min-mobile-width: 320px;
  --max-mobile-width: 767px;
  --min-table-width: 768px;
  --max-table-width: 1279px;
  --desctop-width: 1280px;
}
