.navBar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  padding-bottom: 15px;
  align-items: center;
}

.title {
  font-family: var(--font-family-ru);
  font-size: var(--base-font-size);
  font-size: 30px;
  font-style: normal;
}
.titleDescription {
  font-size: var(--base-font-size);
}
.navMenu {
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: var(--base-font-size);
}
.navMenuItem {
  color: var(--primary-text-color);
  text-decoration: none;
}
